:root {

    --background: #1e1f22;

    --sidebar: #2b2d31;

    --channel-sidebar: #313338;

    --chat: #383a40;

    --border: #3f4147;

    --primary: #5865f2;

    --green: #23a559;

    --danger: #da373c;

    --text: #f2f3f5;

    --muted: #b5bac1;
}